@use 'sass:math';

// Для адаптивного текста
@mixin fluid-text($max: 48, $min: 16) {
  $maxViewportWidth: 1400;
  $minViewportWidth: 360;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
          #{$minSize * 1rem},
          #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
          #{$maxSize * 1rem}
  );
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: fallback;

    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin view-port-xxl {
  @media (width <= var(--view-port-xxl)) {
    @content;
  }
}

@mixin view-port-xl {
  @media (width <= var(--view-port-xl)) {
    @content;
  }
}

@mixin view-port-lg {
  @media (width <= var(--view-port-lg)) {
    @content;
  }
}

@mixin view-port-md {
  @media (width <= var(--view-port-md)) {
    @content;
  }
}

@mixin view-port-sm {
  @media (width <= var(--view-port-sm)) {
    @content;
  }
}

@mixin view-port-xs {
  @media (width <= var(--view-port-xs)) {
    @content;
  }
}