{% extends 'layouts/main.layout.twig' %}

{% block content %}
    <div class="container">
        <h1>Parcel Starter</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, quibusdam.</p>
        {% include 'components/component.twig' %}
    </div>
{% endblock %}